.snowflake {
  position: absolute;
  background-color: white;
  border-radius: 17px;
  padding: 10px 30px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: -200px;
}

.snowflake h1 {
  font-family: 'Skip Display';
  font-size: 34px;
  margin-top: 6px;
  margin-left: 2px;
  color: black;
}

.snowflake:hover {
  animation-play-state: paused;
  background-color: black;
}

.snowflake:hover h1 {
  color: white;
}

.snowflake.a {
  animation-name: fall, rotate-a;
  animation-duration: 12s;
}

.snowflake.b {
  animation-name: fall, rotate-b;
  animation-duration: 8s;
}

.snowflake.c {
  animation-name: fall, rotate-c;
  animation-duration: 6s;
}

.snowflake.d {
  animation-name: fall, rotate-d;
  animation-duration: 4s;
}

.snowflake.e {
  animation-name: fall, rotate-e;
  animation-duration: 5s;
}

.snowflake.f {
  animation-name: fall, rotate-f;
  animation-duration: 7s;
}

.snowflake.g {
  animation-name: fall, rotate-g;
  animation-duration: 10s;
}

.snowflake.h {
  animation-name: fall, rotate-h;
  animation-duration: 13s;
}

@keyframes fall {
  from {
    top: -200px;
  }
  to {
    top: 780px;
  }
}

@keyframes rotate-a {
  from {
    transform: rotate(-9deg);
  }
  to {
    transform: rotate(6deg);
  }
}

@keyframes rotate-b {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(2deg);
  }
}

@keyframes rotate-c {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(-8deg);
  }
}

@keyframes rotate-d {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes rotate-e {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes rotate-f {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes rotate-g {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes rotate-h {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

.snowflake#lo1 {
  left: 26px;
  animation-delay: 1s;
}

.snowflake#lo2 {
  left: 599px;
  animation-delay: 4s;
}

.snowflake#ye1 {
  left: 749px;
  animation-delay: 0s;
}

.snowflake#ye2 {
  left: -87px;
  animation-delay: 6s;
}

.snowflake#to1 {
  left: 279px;
  animation-delay: 1s;
}

.snowflake#to2 {
  left: 915px;
  animation-delay: 2s;
}

.snowflake#sk1 {
  left: 879px;
  animation-delay: 3s;
}

.snowflake#sk2 {
  left: 255px;
  animation-delay: 4s;
}

.snowflake#sk3 {
  left: 652px;
  animation-delay: 1s;
}

.snowflake#th1 {
  left: 447px;
  animation-delay: 2s;
}

.snowflake#th2 {
  left: 108px;
  animation-delay: 3s;
}

.snowflake#tm1 {
  left: 244px;
  animation-delay: 4s;
}

.snowflake#tm2 {
  left: 984px;
  animation-delay: 5s;
}

.snowflake#no1 {
  left: 984px;
  animation-delay: 1s;
}

.snowflake#no2 {
  left: -26px;
  animation-delay: 2s;
}

.snowflake#fa1 {
  left: 272px;
  animation-delay: 3s;
}

.snowflake#fa2 {
  left: 921px;
  animation-delay: 4s;
}

.snowflake#sp1 {
  left: 761px;
  animation-delay: 5s;
}

.snowflake#sp2 {
  left: -258px;
  animation-delay: 2s;
}

.snowflake#so1 {
  left: 459px;
  animation-delay: 3s;
}

.snowflake#so2 {
  left: 866px;
  animation-delay: 4s;
}

.snowflake#sl1 {
  left: 936px;
  animation-delay: 5s;
}

.snowflake#sl2 {
  left: 263px;
  animation-delay: 2s;
}

.snowflake#qu1 {
  left: 154px;
  animation-delay: 1s;
}

.snowflake#qu2 {
  left: 400px;
  animation-delay: 4s;
}

.snowflake#ja1 {
  left: 354px;
  animation-delay: 3s;
}

.snowflake#ja2 {
  left: 225px;
  animation-delay: 2s;
}

.snowflake#mi1 {
  left: -140px;
  animation-delay: 5s;
}

.snowflake#mi2 {
  left: 12px;
  animation-delay: 6s;
}

